body{
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  /* background-image: url(office.jfif); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.nav{
  width: 100%;
  background-color: #04cad1;
  color: #fff;
}
.menu{
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav .menu .menuitem{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.nav .menu .menuitem a{
  padding: 12px 24px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: block;
}
.nav .menu .menuitem a:hover{
  color:#04cad1;
}
.nav .menu .menuitem .submenu .subMenuItem a{
  color:#04cad1;
}
.submenu{
  display: none;
  text-transform: none;
  position: absolute;
  width: 220px;
  background-color: rgba(0,0,0);
}
.menuitem:hover{
    background-color: #030303;
    text-decoration-color:#04cad1;
}
.menuitem:hover .submenu{
  display: block;
}
.subMenuItem{
  border: 4px solid #030303;

}
.subMenuItem:hover{
  background-color: #030303;

  border: 4px solid #04cad1 ;
}
.slider{
  width: 100%;
  height: 630px;
  background-image: url(office.jfif);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.slider .title{
  width: 50%;
  height: auto;
  position: absolute;
  left: 27%;
}
.slider .title h1{
  font-size: 57px;
  color:#fff;
  line-height: 65px;
  text-transform: capitalize;
}
.slider .title h1 span{
  color:#01d7a7;
}
.slider .title p{
  font-size: 18px;
  color: white;
  line-height: 1.5;
  text-align: justify;
font-style: italic;

}
.slider .title .btn{
  color: white;
  background-color: #01d7a7;
  border-radius: 23px;
  font-size: 16px;
  display: inline-block;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 16px 36px;
margin-right: 10px;
font-weight: bold;
margin-top: 15px;
transition: 0.5s;
}
.slider .title .btn:hover{
  background-color: #030303;
  color: #01d7a7;
}

.flex-container{
  margin-top: 80px;
  clear: both;
  float: left;
  margin-bottom: 40px;
}
.main .flex-container .flex-items{
  width: 20%;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
}
.main .flex-container .flex-items h5{
  font-size: 18px;
  letter-spacing: 0.5px;
  margin: 0px 20px;
}
.main .flex-container .flex-items p{
  font-style: italic;
}
.main .flex-container .flex-items .text-blue{
  font-size: 40px;
  color: blue;
}
